#conteudo {
    width: 90%;
    height: 65%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 0px;
    display: flex;
    align-items: flex-start;
   }
  
  #conteudo .contentl {
    max-width: 650px;
    float:left;
  }
  
  #contentr {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    float:left;
  }
  
  #contentl h1 {
    font-size: 64px;
    color: rgb(8, 2, 94);
  }
  
  #contentl p {
    font-size: 24px;
    margin-top: 18px;
    line-height: 34px;
    color: rgb(8, 2, 94);
  }
  
  #contentl a {
    width: 100%;
    max-width: 360px;
    height: 72px;
    background: rgb(8, 2, 94);
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: 40px;
  }
  
  #contentl a span {
    display: block;
    background: rgb(8, 2, 94);
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
  }
  
  #contentl a span svg {
    color: #FFF;
    width: 20px;
    height: 20px;
  }
  
  #contentl main a strong {
    flex: 1;
    text-align: center;
    color: #FFF;
  }
  
  #contentl main a:hover {
    background: #79ab7f;
  }
  
  @media(max-width: 1000px) {
    #conteudo .contentl {
      align-items: center;
      text-align: center;
    }
  
    #contentl main h1 {
      font-size: 42px;
    }
  
  }
  
  
  
  